.productList-container{
    background-color: #ff5a46;
    padding: 1rem;
    position: sticky;
    top: 0;
}
button{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    background-color: rgba(253, 16, 16, 0.582);
}